 <div class='nested-fields'>
    <div class="field">
      <div id='step'>
      <%= f.fields_for :steps do |step| %>
      <%= step.text_field :content,class: "form-control" %>
    </div>
    </div>
    <%= link_to_remove_association "remove step", f %>
  </div>
  <% end %>